{% extends 'main.html' %}
{% load static %}

{% block content %}

<div id="mySidebar" class="sidebar" style="top: 92px; position: absolute;">
    <!-- a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a -->
    <a href="#" onclick="showMainChart()">General</a>
    <a href="#" onclick="showHomeChart()">Home</a>
    <a href="#" onclick="showWorkChart()">Workplace</a>
</div>

<div id="datePicker" class="dropdown" style="float: right;">
    <label class="btn btn-dark" for="from">From:</label>
    <input class="btn btn-dark" type="date" id="dateFrom" name="from">
    <label class="btn btn-dark" for="to">To:</label>
    <input class="btn btn-dark" type="date" id="dateTo" name="dateTo">
</div>

<div id="countyDropDownMain" class="dropdown" style="float: right;">
    <a class="btn btn-dark dropdown-toggle" role="button" id="dropdownCountyLink" data-bs-toggle="dropdown" aria-expanded="false">
        New York City
    </a>
  
    <ul class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuLink">
        {% for county in counties %}
            <li style="cursor: pointer;"><a class="dropdown-item" value="{{county}}" onclick="generateCountySpecificGraph('{{county}}')">{{county}}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="dropdown" style="float: right;">
    <a class="btn btn-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        Line Graph
    </a>
  
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li><a class="dropdown-item" href="#" onclick="generateLineGraph()">Line Graph</a></li>
      <li><a class="dropdown-item" href="#" onclick="generateBarGraph()"> Bar Graph </a></li>
      <li><a class="dropdown-item" href="#" onclick="generateColumn()"> Column Chart </a></li>
      <li><a class="dropdown-item" href="#" onclick="generateScatter()"> Scatter Plot </a></li>
      <li><a class="dropdown-item" href="#" onclick="generatePie()"> Pie Chart </a></li>
    </ul>
</div>

<div id="main">
    <button id="toggleBtn" class="openbtn" onclick="toggleNav()">☰</button>
    <div class="container-fluid">
        <div id="mainchart_1" class="container">
            <div class="row">
                <div class="col-11 mx-auto p-0 my-5 border-dark">
                    <div id="mainchart"></div>
                </div>
            </div>
        </div>
        <div id="homechart_1" class="container hideChart">
            <div class="row">
                <div class="col-11 mx-auto p-0 my-5 border-dark">
                    <div id="homechart"></div>
                </div>
            </div>
        </div>
        <div id="workchart_1" class="container hideChart">
            <div class="row">
                <div class="col-11 mx-auto p-0 my-5 border-dark">
                    <div id="workchart"></div>
                </div>
            </div>
        </div>
    </div>
</div> 
    
  </div>
    
        


{% endblock content %}