{% extends 'main.html' %}

{% block content %}


{% comment %} join circle {% endcomment %}
<section>
    <div class="container-fluid my-5">
        <div class="row">
            <div class="bg-light col-md-6 m-auto border border-secondary border-3 rounded rounded-3 p-3">
                <h1 class="text-muted">Join Existing Circle</h1>
                <hr>
                <form action="", method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="circle_id" class="form-label">Circle ID</label>
                        <input type="text" class="form-control" name="circle_id" id="circle_id" required>
                    </div>
                    <button type="submit" name="request_circle" class="btn btn-primary">Join</button>
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == 'error' %}
                                <div class="alert alert-danger my-2" role="alert">
                                    {{message}}
                                </div>
                            {% elif message.tags == 'success' %}
                                <div class="alert alert-success my-2" role="alert">
                                    {{message}}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</section>

{% comment %} create circle {% endcomment %}
<section>
    <div class="container-fluid my-5">
        <div class="row">
            <div class="bg-light col-md-6 m-auto border border-secondary border-3 rounded rounded-3 p-3">
                <h1 class="text-muted">Create Circle</h1>
                <hr>
                <form action="", method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="circle_name" class="form-label">Circle Name</label>
                        <input type="text" class="form-control" name="circle_name" id="circle_name" required>
                        <label for="policy_id" class="form-label">Select Policy</label>
                        <select id="policy_id" name="policy_id" class="form-select" multiple aria-label="multiple select example">
                            <option value="1">Vaccination Status</option>
                            <option value="2">People Met</option>
                            <option value="3">Location Visited</option>
                        </select>
                        <label for="circle_image" class="form-label">Example file input</label>
                        <input type="file" class="form-control-file" id="circle_image" name="circle_image">
                    </div>
                    <button type="submit" name='create_circle' class="btn btn-primary">Create Circle</button>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
