{% extends 'main.html' %}
{% load static %}

{% block stylesheettwo %}
    <link rel="stylesheet" href="{% static 'css/circle/circle-page.css' %}" />
{% endblock stylesheettwo %}
{% block content %}


<div class="container my-5 p-0 rounded-3 border border-4 border-danger">
    <nav class="navbar coviguard-bg-red-light p-0 rounded-3">
        <div class="container-fluid text-center p-0 rounded-3">
                
            <div class="col-lg-4 col-md-4 circle-options rounded-3 {% if query == 'map' %} selected {% endif %}">
                <a href="{% url 'circle:dashboard' username 'map' %}">
                    <div class="">
                        Map
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 circle-options rounded-3 {% if query == 'recent' %} selected {% endif %}">
                <a class="{% if not recent_circles %} btn disabled {% endif %}" href="{% url 'circle:dashboard' username 'recent' %}" >
                    <div class="">
                    Recent Circle
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 circle-options rounded-3 {% if query == 'all_circle' %} selected {% endif %}">
                <a class="{% if not circle_user_data %} btn disabled {% endif %}" href="{% url 'circle:dashboard' username 'all_circle' %}">
                    <div class="">
                    All Circle
                    </div>
                </a>
            </div>

        </div>
    </nav>
</div>
    <!-- Add Circle -->
    {% if query == 'map' %}
        {% include 'circle-heatmap.html' %}
    {% endif %}

    {% if query == 'recent' %}
        {% include 'circle-recent.html' %}
    {% endif %}

    {% if query == 'all_circle' %}
        <section id="your-circle" class="p-5">
        <div class="container-fluid my-5">
            <div class="row">
                <div class="m-auto col-lg-10">
                    <form>
                    <div class="input-group mb-3">
                            <i id="search-icon" class="bi bi-search m-1 px-1"></i>
                            <input class="form-control" type="text" name="user-input" id="user-input" placeholder="Search">
                    <div>
                    </form>
                </div>
            </div>
        </div>
        {% include 'circle-search.html' %}
        </section>
    {% endif %}



    {% block scripttwo %}

        <script src="{% static 'js/circle/script.js' %}"></script>
        <script src="https://code.highcharts.com/maps/highmaps.js"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="https://code.highcharts.com/modules/drilldown.js"></script>
        <script src="https://code.highcharts.com/highcharts-3d.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
        <script>
            liveData = {{ liveData | safe }};
        </script>

    {% endblock scripttwo %}

    {% block script %}
    <script>
        const user_input = $("#user-input")
        const search_icon = $('#search-icon')
        const artists_div = $('#replaceable-content')
        
        
        const endpoint = '/circle/{{username}}/all_circle/'
        console.log(endpoint)
        const delay_by_in_ms = 200
        let scheduled_function = false

        let ajax_call = function (endpoint, request_parameters) {
            $.getJSON(endpoint, request_parameters)
                .done(response => {
                    // fade out the artists_div, then:
                    artists_div.fadeTo('slow', 0).promise().then(() => {
                        // replace the HTML contents
                        artists_div.html(response['html_from_view'])
                        // fade-in the div with new contents
                        artists_div.fadeTo('slow', 1)
                        // stop animating search icon
                        search_icon.removeClass('blink')
                    })
                })
            }
            
            $("#user-input").on("keyup", function () {

                console.log('keyup');

                const request_parameters = {
                    q: $(this).val() // value of user_input: the HTML element with ID user-input
                }

                // start animating the search icon with the CSS class
                search_icon.addClass('blink')

                // if scheduled_function is NOT false, cancel the execution of the function
                if (scheduled_function) {
                    clearTimeout(scheduled_function)
                }

                // setTimeout returns the ID of the function to be executed
                scheduled_function = setTimeout(ajax_call, delay_by_in_ms, endpoint, request_parameters)
            })
    </script>
    {% endblock script %}
{% endblock content %}