{% extends 'main.html' %}

{% block content %}
    <!-- Add Circle -->
    <section id="add-circle" class="p-5 bg-primary">
        <h2 class="text-left text-white">Add Circles</h2>
        <div class="container my-5">
            <div class="row">
                <div class="col-4">
                    <a href="">
                        <img src="img/plus.png" alt="" class="center-block plus">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- your circle -->
    <section id="your-circle" class="p-5 bg-light">
        <h2 class="text-left text-primary">Your Circles</h2>
        <div class="container my-5 mx-5">
            <div class="row">
                <div class="card col-lg-4 col-md-6 my-3">
                    <img class="rounded mx-auto d-block card-img-top my-3" src="img/famliy.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Family</h5>
                    </div>
                    <button type="button" class="btn btn-outline-primary btn-lg btn-block my-3">Enter Circle</button>
                </div>
            </div>
        </div>
    </section>
{% endblock %}