{% extends 'main.html' %}
{% load static %}
{% load get_value %}

{% block stylesheettwo %}
    <link rel="stylesheet" href="{% static 'css/circle/style_members.css' %}" />
{% endblock stylesheettwo %}


{% block content %}
<!-- intro -->
<section class="bg-light p-1">
    <div class="container my-5">
        <div class="row">
            <div class="col-sm-3">
                <img height="250" width="250" src="{{ circle_data.circle_id.group_image.url }}" class="img-fluid rounded-circle" alt="...">
            </div>
            <div class="col-sm-9">
                <h1 class="fw-bold text-uppercase text-secondary align-self-start">
                    {{circle_data.circle_id.circle_name}}
                </h1>
                <hr>
                <p class="text-muted d-block">Admin:
                    <spam class="text-dark fw-bold">{{circle_data.circle_id.admin_username.username}}</spam>
                </p>
                <p class="text-muted d-block">Number of Members:
                    <span class="text-dark fw-bold">{{circle_data.circle_id.no_of_users}}</span>
                </p>
                {% if is_admin %}
                    <p class="text-muted d-block">Pending Requests:
                        <spam class="text-muted fw-bold">{{circle_request}}</spam>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container bg-light my-5 p-3 col-lg-4">
        <h3 class="m-b-50 heading-line">Members
            {% comment %} <i class="bi bi-exclamation-square-fill text-danger"></i> {% endcomment %}
        </h3>
        {% for data in circle_user_data %}
            <div class="member-ui_dd-content">
                <div class="member-list {% if user_alert|hash:data.username.username %} member-list--alert {% else %} member-list--safe {% endif %} {% if data.is_admin %} member-list--admin {% else %} member-list--member {% endif %}">
                    <div class="member-list_content">
                        <div class="member-list_img"> 
                            <img src="{{ data.username.user_image.url }}" alt="user"> 
                        </div>
                        <div class="member-list_detail">
                            <h4>{{data.username.username}}</h4>
                            <a href="{% url 'login:settings' data.username.username 'profile' %}"><button type="button" class="btn btn-outline-warning">Profile</button></a>
        
                            <button type="button" class="btn {% if is_compliant|hash:data.username.username %} btn-outline-success {% else %} btn-outline-danger {% endif %}" data-bs-toggle="modal" data-bs-target="#{{ data.username.username }}-compliance">
                                Policy
                                <i class="bi bi-question-square-fill"></i>
                            </button>
                            
                            <!-- Modal -->
                            <div class="modal fade" id="{{ data.username.username }}-compliance" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <div class="container p-0">
                                                <div class="row">
                                                    <div class="col-lg-7">
                                                    <p>Compliance Status <h4>{{data.username.username}}</h4></p>
                                                    </div>
                                                    <div class="col-lg-5 p-0 member-list_img text-align-right">
                                                        <img class="float-end" src="{{ data.username.user_image.url }}" alt="user"> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr style="width:90%; margin: auto;">
                                        <div class="p-4">
                                            {% for policy in policies %}
                                                {% if policy.policy_id == 1 %}
                                                    <div class="col-lg-6">
                                                        Vaccination Status: 
                                                        {% if circle_compliance|hash:data.username.username|hash:policy.policy_id %}
                                                            <i class="bi bi-check-square-fill text-success"></i>
                                                        {% else %}
                                                            <i class="bi bi-file-excel-fill text-danger"></i>
                                                        {% endif %}
                                                    </div>
                                                {% endif %}

                                                {% if policy.policy_id == 2 %}
                                                    <div class="col-lg-6">
                                                        People Met: 
                                                        {% if circle_compliance|hash:data.username.username|hash:policy.policy_id %}
                                                            <i class="bi bi-check-square-fill text-success"></i>
                                                        {% else %}
                                                            <i class="bi bi-file-excel-fill text-danger"></i>
                                                        {% endif %}
                                                    </div>
                                                {% endif %}

                                                {% if policy.policy_id == 3 %}
                                                    <div class="col-lg-6">
                                                        Location Visited: 
                                                        {% if circle_compliance|hash:data.username.username|hash:policy.policy_id %}
                                                            <i class="bi bi-check-square-fill text-success"></i>
                                                        {% else %}
                                                            <i class="bi bi-file-excel-fill text-danger"></i>
                                                        {% endif %}
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button type="button" class="btn {% if user_alert|hash:data.username.username %} btn-outline-danger {% else %} btn-outline-success {% endif %}" data-bs-toggle="modal" data-bs-target="#{{ data.username.username }}-alert">
                                Alert
                                <i class="bi bi-exclamation-square-fill"></i>
                            </button>
                            
                            <!-- Modal -->
                            <div class="modal fade" id="{{ data.username.username }}-alert" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <div class="container p-0">
                                                <div class="row">
                                                    <div class="col-lg-7">
                                                    <p>Alerts <h4>{{data.username.username}}</h4></p>
                                                    </div>
                                                    <div class="col-lg-5 p-0 member-list_img text-align-right">
                                                        <img class="float-end" src="{{ data.username.user_image.url }}" alt="user"> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr style="width:90%; margin: auto;">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col pt-3">
                                    {% if check_vacinated_policy %}
                                        {% if data.username.is_vacinated %}
                                            <p class="text-success"><i class="bi bi-dot"></i> Vaccinated</p>
                                        {% else %}
                                            <p class="text-danger"><i class="bi bi-dot"></i> Not Vaccinated</p>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    

                    <div class="member-list_feature-btn">
                        {% if is_admin %}
                            {% if data.is_member %}
                                <button type="button" class="btn btn-outline-danger member-list" data-bs-toggle="modal" data-bs-target="#{{ data.username.username }}">
                                    <i class="bi bi-x-lg"></i>
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="{{ data.username.username }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                Are you sure you want to remove {{data.username.username}}?
                                            </div>
                                            <div class="modal-footer">
                                                <form action="" method="post">
                                                    {% csrf_token %}
                                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                                                    <button class="btn btn-outline-danger" type="submit" name="remove_user" value="{{data.username.username}}">
                                                        Yes
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>

{% endblock content %}