{% extends 'main.html' %}
{% load static %}
{% load get_value %}

{% block stylesheettwo %}
    <link rel="stylesheet" href="{% static 'css/circle/style_members.css' %}" />
    <link rel="stylesheet" href="{% static 'css/circle/copy.css' %}" />
{% endblock stylesheettwo %}


{% block content %}
<!-- intro -->
<section class="bg-light p-1">
    <div class="container my-5">
        <div class="row">
            <div class="col-sm-3">
                <img height="250" width="250" src="{{ circle_data.circle_id.group_image.url }}" class="img-fluid rounded-circle" alt="...">
            </div>
            <div class="col-sm-9">
                <div class = "row">
                    <div>
                        <h1 class="fw-bold text-uppercase text-secondary align-self-start">
                            <label>{{circle_data.circle_id.circle_name}}</label>
                            <button class="copy-btn" style="float: right;margin-top: 0.5rem;" value="{% url 'circle:request_url' circle_data.circle_id.display_code %}">Copy Link</button>
                        </h1>
                    </div>
                    <hr>
                </div>
                <p class="text-muted d-block">Admin:
                    <spam class="text-dark fw-bold">{{circle_data.circle_id.admin_username.username}}</spam>
                </p>
                <p class="text-muted d-block">Number of Members:
                    <span class="text-dark fw-bold">{{circle_data.circle_id.no_of_users}}</span>
                </p>
                {% if is_admin %}
                    <p class="text-muted d-block">Pending Requests:
                        <spam class="text-muted fw-bold">{{circle_request}}</spam>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid bg-light my-0 p-5 col-lg-12">
        <h3 class="m-b-50 heading-line">Members
            {% comment %} <i class="bi bi-exclamation-square-fill text-danger"></i> {% endcomment %}
        </h3>
        <form action="" method="post">
            {% csrf_token %}
            <div class="container pb-5">
                <div class="row">
                    <div class="input-group form-outline mx-auto">
                        
                            <input type="search" id="search-users" name="search-users" class="form-control" placeholder="Search"/>
                            <button id="search-users-submit" name="search-users-submit" type="submit" class="btn btn-danger">
                                <i class="bi bi-search"></i>
                            </button>

                    </div>
                </div>
            </div>
        </form>
        {% if search %}
            <div class="row">
                {% include 'user-search.html' %}
            </div>
        {% endif %}
        <h2 class="mb-3">All Members</h2>
        <div class="row">
            {% include 'circle-users.html' %}
        </div>
    </div>
</section>

{% endblock content %}

{% block script %}
    <script src="{% static 'js/circle/copy.js' %}"></script>
{% endblock script %}