{% extends 'main.html' %}

{% load static %}

{% block stylesheetone %}
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.css">
    <link rel="stylesheet" href="{% static 'css/selftrack/style.css' %}">
{% endblock stylesheetone %}


{% block stylesheettwo %}
    <link rel="stylesheet" href="{% static 'css/circle/style_edit_permission.css' %}" />
{% endblock stylesheettwo %}

{% block content %}

<div class="container rounded bg-white mt-5 mb-5 p-5">
    <div class="row">
        <div class="col-md-6 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px" src="{{ circle_data.group_image.url }}"></img>
                    <div class='col mt-3'>
                        <h1>
                            {{circle_data.circle_name}}
                        </h1>
                    </div>
                </img>
            </div>
        </div>
        <div class="col-md-6">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h3 class="text-right">Edit Circle</h3>
                </div>
                <form action="" method="post" class="bg-light border p-3" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-group p-2">
                        <label for="circle_name">Circle Name: </label>
                        <input type="text" name="circle_name" id="circle_name" class="form-control" value={{circle_data.circle_name}}>
                    </div>

                    <div class="form-group p-2">
                        <label for="circle_image" class="form-label">Circle Picture: </label>
                        <input type="file" class="form-control" id="circle_image" name="circle_image" accept="image/png, image/jpeg">
                    </div>

                    <div class="col-md-12 text-center ">
                        <button type="submit" name="circle_update" id="circle_update" class=" btn btn-block btn-primary profile-button">Update</button>
                    </div>
                </form>
                {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <div class="alert alert-danger my-2" role="alert">
                            {{message}}
                        </div>
                    {% endif %}
                    {% if message.tags == 'success' %}
                        <div class="alert alert-success my-2" role="alert">
                            {{message}}
                        </div>
                    {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block script %}
    <script src="{% static 'js/selftrack/jquery.min.js' %}"></script>
    {% comment %} <script src="{% static 'js/selftrack/popper.js' %}"></script> {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.js"></script>
    <script src="{% static 'js/selftrack/main.js' %}"></script>
{% endblock script %}