  {% extends 'main-extend-nav.html' %}
  {% load static %}
  {% block content %}
    <!-- Showcase -->
  <section class="bg-light text-dark p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
    <div class="container">
      <div class="d-sm-flex align-items-center justify-content-between">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="style">
        <div>
          <h1>{% if session_valid %} Welcome {% else %} Become a {% endif %}<span class="palette-text">#CoviGuardian </span></h1>
          <p class="lead my-4">Complete Covid tracking for you and your circle!
          </p>
          {% if not session_valid %}
            <a href="{% url 'login:signup' %}">
              <button class="get-started btn-lg">Get started</button>
            </a>
            <br><br>
            <p class="lead my-6">
              <small>
              Already a member?
              <a href="{% url 'login:signin' %}" class="palette-text">Sign in here</a>
              </small>
            </p>
          {% endif %}
        </div><img class="img-fluid d-none d-sm-block" src="{% static 'img/5.png' %}" alt="" />
      </div>
    </div>
  </section>

  <!-- Boxes -->
  <section class="p-5" id="functionalities">
    <div class="container">
      <div class="row text-secondary g-4">
        <div class="col-md">
          <div class="card coviguard-bg-maroon text-light">
            <div class="card-body text-center">
              <div class="h1 mb-3"><i class="bi bi-pencil-square"></i></div>
              <h3 class="card-title mb-3">Self-Tracking</h3>
              <p class="card-text">Keep a track and tab of everyone you care out with our self-reporting feature.</p>
            </div>
          </div>
        </div>

        <div class="col-md">
          <div class="card coviguard-bg-grey text-light">
            <div class="card-body text-center">
              <div class="h1 mb-3"><i class="bi bi-bell-fill"></i></div>
              <h3 class=" card-title mb-3">Alerts</h3>
              <p class="card-text">Get notified about prognosis in all your 'Circles' based on the policies set by your group.</p>
            </div>
          </div>
        </div>

        <div class="col-md">
          <div class="card coviguard-bg-maroon text-light">
            <div class="card-body text-center">
              <div class="h1 mb-3"><i class="bi bi-people-fill"></i></div>
              <h3 class="card-title mb-3">Circles</h3>
              <p class="card-text">Colleagues ? Hobby group ? Classmates ? Join your circle today or create one!  </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Learn Sections -->
  <section id="why" class="p-5">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-md"><img src="{% static 'img/covid.png' %}" class="img-fluid" alt="" /></div>
        <div class="col-md p-5">
          <h2>Take charge against Covid</h2>
          <p class="lead">Be a warrior in yourself!
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Developers -->
  <section id="developers" class="p-5 coviguard-bg-maroon">
    <div class="container">
      <h2 class="text-center text-white">Our Developers</h2><br>
      <div class="row g-5">
        <div class="col-md-6 col-lg-3">
          <div class="card coviguard-bg-grey">
            <div class="card-body text-center"><img src="{% static 'img/eashan.jpeg' %}" class="img-thumbnail rounded-circle mb-3"
                alt="" />
              <h3 class="card-title mb-3">Eashan Kaushik</h3>
              <p class="card-text"></p><a href="https://www.linkedin.com/in/eashan-kaushik/"><i
                  class="bi bi-linkedin text-dark mx-1"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="card coviguard-bg-grey">
            <div class="card-body text-center"><img src="{% static 'img/srijan.JPEG' %}"
                class="img-thumbnail rounded-circle mb-3 develop" alt="" />
              <h3 class="card-title mb-3">Srijan Malhotra</h3>
              <p class="card-text"></p><a href="https://www.linkedin.com/in/srijan-malhotra-286950154/"><i
                  class="bi bi-linkedin text-dark mx-1"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="card coviguard-bg-grey">
            <div class="card-body text-center"><img src="{% static 'img/chinmay.jpeg' %}"
                class="img-thumbnail rounded-circle mb-3 develop" alt="" />
              <h3 class="card-title mb-3">Chinmay Kulkarni</h3>
              <p class="card-text"> </p><a href="https://www.linkedin.com/in/chinmaymrunalkulkarni/"><i
                  class="bi bi-linkedin text-dark mx-1"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="card coviguard-bg-grey">
            <div class="card-body text-center"><img src="{% static 'img/pranav.jpeg' %}"
                class="img-thumbnail rounded-circle mb-3 develop" alt="" />
              <h3 class="card-title mb-3">Pranav Singh</h3>
              <p class="card-text"></p><a href="https://www.linkedin.com/in/pranavsinghps1/"><i
                  class="bi bi-linkedin text-dark mx-1"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-3 mx-auto">
          <div class="card coviguard-bg-grey">
            <div class="card-body text-center"><img src="{% static 'img/shardha.jpg' %}"
                class="img-thumbnail rounded-circle mb-3 develop" alt="" />
              <h3 class="card-title mb-3">Shardha Koul</h3>
              <p class="card-text"></p><a href="https://www.linkedin.com/in/shardhakoul/"><i
                  class="bi bi-linkedin text-dark mx-1"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

    {% endblock content %}