{% extends 'main.html' %}
{% load static %}
{% block content %}
<br><br><br><br><br>
<link rel="stylesheet" href="{% static 'css/login/profile.css' %}">
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-4 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="130px" height="130px" src="{{ userdata.user_image.url }}"><span class="font-weight-bold">{{userdata.username}}</span><span class="text-black-50">{{userdata.email}}</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile</h4>
                </div>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group p-2">
                        <label for="first_name">First Name: </label>
                        <label name="first_name" id="first_name" class="form-control" value={{FirstName}}>{{FirstName}}</label>
                    </div>
                    <div class="form-group p-2">
                        <label for="last_name">Last Name: </label>
                        <label name="last_name" id="last_name" class="form-control"value={{LastName}}>{{LastName}}</label>
                    </div>
                    <br><br>
                    <label>
                        <h4>Circles</h4>
                    </label>
                    <br>
                    <ul class="card-wrapper">
                    {% for circle in circle_data %}
                        <li class="card">
                            <img class="profile-member-list" src='{{circle.circle_id.group_image.url}}' alt=''>
                            <label>{{circle.circle_id.circle_name}}</label>
                            <label name="circle_id" value="{{circle.circle_id.circle_id}}"></label>
                            {% if circle.circle_id.circle_id in common_circles %}
                            <a href="{% url 'circle:user_circle' current_username circle.circle_id.circle_id %}">
                                <button type="button" class="btn btn-outline-primary btn-lg col-12 my-3">Enter Circle</button>
                            </a>
                            {% elif circle.circle_id.circle_id in requested_circle %}
                            <label>Requested</label>
                            {% else %}
                                <a href="{% url 'circle:create' %}">
                                    <button type="submit" name=request_circle class="btn btn-outline-primary btn-lg col-12 my-3">Send Request to Join</button>
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %} 
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}