{% extends 'main-extend-nav.html' %}
{% load static %}
{% block content %}
<br><br><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div id="first">
                <div class="logo mb-3">
                  <div class="col-md-12 text-center">
                     <h1>{{profile_username}}</h1>
                     <h1>{{FirstName}}</h1>
                     <h1>{{LastName}}</h1>
                     <h1>{{Email}}</h1>
                  </div>
                  
               </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}