{% extends 'main-extend-nav.html' %}
{% load static %}
{% block content %}
<br><br><br><br><br>

<div class="container-fluid">
    <div class="row">
        
        <div class="col-2 m-4 border" id="sticky-sidebar">
            <div class="sticky-top">
                <table class="table">
                    <tbody>
                        <tr>
                            <th><a class="btn btn-link" style="text-decoration: none" href="{% url 'login:settings' username 'profile' %}" class="link-dark"><h3>Profile</h3></a></th>
                        </tr>
                        <tr>
                            <th><a class="btn btn-link" style="text-decoration: none" href="{% url 'login:settings' username 'privacy' %}" class="link-dark"><h3>Privacy</h3></a></th>
                        </tr>
                        <tr>
                            <th><a class="btn btn-link" style="text-decoration: none" href="{% url 'login:settings' username 'password' %}" class="link-dark"><h3>Password</h3></a></th>
                        </tr>
                        <tr>
                            <th><a class="btn btn-link" style="text-decoration: none" href="#" class="link-dark"><h3>Preview</h3></a></th>
                        </tr>
                    </tbody>
                    </table>
            </div>
        </div>

        <div class="col m-4 border p-5" id="main">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 mx-auto">
                        <div id="first">
                            <div class="myform form ">
                                <div class="logo mb-3">
                                    <div class="col-md-12 text-center">
                                        <h1>{{username}}</h1>
                                    </div>
                                </div>
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <div class="form-group p-2">
                                        <label for="old_password">Old Password</label>
                                        <input type="password" name="old_password" id="old_password" class="form-control" required>
                                    </div>
                                    <div class="form-group p-2">
                                        <label for="new_password">New Password</label>
                                        <input type="password" name="new_password" id="new_password" class="form-control" required>
                                    </div>
                                    <div class="form-group p-2">
                                        <label for="confirm_password">Confirm New Password</label>
                                        <input type="password" name="confirm_password" id="confirm_password" class="form-control" required>
                                    </div>
                                    <div class="col-md-12 text-center p-2">
                                        <button type="submit" name="submit_change" class=" btn btn-block mybtn btn-outline-primary tx-tfm">Change Password</button>
                                    </div>
                                    {% if messages %}
                                        {% for message in messages %}
                                            {% if message.tags == 'error' %}
                                            <div class="alert alert-danger my-2" role="alert">
                                                {{message}}
                                            </div>
                                            {% elif message.tags == 'success' %}
                                            <div class="alert alert-success my-2" role="alert">
                                                {{message}}
                                            </div>
                                            {% endif%}
                                        {% endfor %}
                                    {% endif %}   
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}