{% extends 'main-extend-nav.html' %}
{% load static %}
{% block content %}
<br><br><br><br><br>

<div class="container-fluid">
    <div class="row">
        
        <div class="col-2 m-4 border" id="sticky-sidebar">
            <div class="sticky-top">
                <table class="table">
                    <tbody>
                        <tr>
                            <th><a class="btn btn-link" style="text-decoration: none" href="{% url 'login:settings' username 'profile' %}" class="link-dark"><h3>Profile</h3></a></th>
                        </tr>
                        <tr>
                            <th><a class="btn btn-link" style="text-decoration: none" href="{% url 'login:settings' username 'privacy' %}" class="link-dark"><h3>Privacy</h3></a></th>
                        </tr>
                        <tr>
                            <th><a class="btn btn-link" style="text-decoration: none" style="text-decoration: none" href="{% url 'login:settings' username 'password' %}" class="link-dark"><h3>Password</h3></a></th>
                        </tr>
                    </tbody>
                    </table>
            </div>
        </div>

        <div class="col m-4 border p-5" id="main">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 mx-auto">
                        <div id="first">
                            <div class="myform form ">
                                <div class="logo mb-3">
                                    <div class="col-md-12 text-center">
                                        <h1>{{username}}</h1>
                                    </div>
                                </div>
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <div class="form-group p-2">
                                        <label for="vaccination_status">Show Vaccination Status: </label><br>
                                        
                                        <input class="form-check-input" type="radio" name="vaccination_status_yes" id="vaccination_status_yes" value="vaccination_status_yes" {% if vacination_status %} checked {% endif %} >
                                        <label class="form-check-label" for="vaccination_status_yes">Yes</label>
                                        <br>
                                        <input class="form-check-input" type="radio" name="vaccination_status_no" id="vaccination_status_no" value="vaccination_status_no" {% if not vacination_status %} checked {% endif %}>
                                        <label class="form-check-label" for="vaccination_status_no">No</label>
                                    </div>
                                    <div class="form-group p-2">
                                        <label for="people_met">Show People Met: </label><br>
                                        
                                        <input class="form-check-input" type="radio" name="people_met_yes" id="people_met_yes" value="people_met_yes">
                                        <label class="form-check-label" for="people_met_yes">Yes</label>
                                        <br>
                                        <input class="form-check-input" type="radio" name="people_met_no" id="people_met_no" value="people_met_no">
                                        <label class="form-check-label" for="people_met_no">No</label>
                                    </div>
                                    <div class="form-group p-2">
                                        <label for="locaiton_visited">Show Location Visited: </label><br>
                                        
                                        <input class="form-check-input" type="radio" name="locaiton_visited_yes" id="locaiton_visited_yes" value="locaiton_visited_yes">
                                        <label class="form-check-label" for="locaiton_visited_yes">Yes</label>
                                        <br>
                                        <input class="form-check-input" type="radio" name="locaiton_visited_no" id="locaiton_visited_no" value="locaiton_visited_no">
                                        <label class="form-check-label" for="locaiton_visited_no">No</label>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}