{% extends 'main-extend-nav.html' %}
{% load static %}
{% block stylesheetone %}
    <link rel="stylesheet" href="{% static 'css/login/profile.css' %}">
{% endblock stylesheetone %}
{% block content %}
<br><br><br><br><br>


<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-4 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="130px" height="130px" src="{{ userdata.user_image.url }}"><span class="font-weight-bold">{{userdata.username}}</span><span class="text-black-50">{{userdata.email}}</span><span> </span></div>
            <div>
                <a class="btn btn-link" style="text-decoration: none" href="{% url 'login:settings' username 'profile' %}" class="link-dark"><h4>Profile</h4></a>
            </div>
            <div>
                <a class="btn btn-link" style="text-decoration: none" href="{% url 'login:settings' username 'privacy' %}" class="link-dark"><h4>Privacy</h4></a>
            </div>
            <div>
                <a class="btn btn-link" style="text-decoration: none" href="{% url 'login:settings' username 'password' %}" class="link-dark"><h4>Password</h4></a>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Change Privacy</h4>
                </div>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group p-2">
                        <label for="vaccination_status">Show Vaccination Status: </label><br>
                        
                        <h5>
                            <input class="form-check-input" type="checkbox" name="vaccination_status_yes" id="vaccination_status_no" value="vaccination_status_yes" {% if privacy.show_vacination %} disabled {% endif %} >
                            <label class="form-check-label" for="vaccination_status_yes">Yes</label>
                            <br>
                        </h5>
                        <h5>
                            <input class="form-check-input" type="checkbox" name="vaccination_status_no" id="vaccination_status_no" value="vaccination_status_no" {% if not privacy.show_vacination %} disabled {% endif %}>
                            <label class="form-check-label" for="vaccination_status_no">No</label>
                        </h5>
                    </div>
                    
                    <div class="form-group p-2">
                        <label for="people_met">Show People Met: </label><br>
                        
                        <h5>
                            <input class="form-check-input" type="checkbox" name="people_met_yes" id="people_met_yes" value="people_met_yes" {% if privacy.show_people_met %} disabled {% endif %}>
                            <label class="form-check-label" for="people_met_yes">Yes</label>
                            <br>
                        </h5>
                        <h5>
                            <input class="form-check-input" type="checkbox" name="people_met_no" id="people_met_no" value="people_met_no" {% if not privacy.show_people_met %} disabled {% endif %}>
                            <label class="form-check-label" for="people_met_no">No</label>
                        </h5>
                    </div>
                    
                    <div class="form-group p-2">
                        <label for="locaiton_visited">Show Location Visited: </label><br>
                        
                        <h5>
                            <input class="form-check-input" type="checkbox" name="locaiton_visited_yes" id="locaiton_visited_yes" value="locaiton_visited_yes" {% if privacy.show_location_visited %} disabled {% endif %}>
                            <label class="form-check-label" for="locaiton_visited_yes">Yes</label>
                            <br>
                        </h5>
                        <h5>
                            <input class="form-check-input" type="checkbox" name="locaiton_visited_no" id="locaiton_visited_no" value="locaiton_visited_no" {% if not privacy.show_location_visited %} disabled {% endif %}>
                            <label class="form-check-label" for="locaiton_visited_no">No</label>
                        </h5>
                    </div>

                    <div class="col-md-12 text-center p-2">
                        <button type="submit" name="submit_change" class=" btn btn-block mybtn btn-outline-primary tx-tfm">Save Profile</button>
                    </div> 
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}