{% extends 'main-extend-nav.html' %}
{% load static %}
{% block stylesheetone %}
    <link rel="stylesheet" href="{% static 'css/login/profile.css' %}">
{% endblock stylesheetone %}

{% block content %}
<br><br><br><br><br>

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-4 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="130px" height="130px" src="{{ userdata.user_image.url }}"><span class="font-weight-bold">{{userdata.username}}</span><span class="text-black-50">{{userdata.email}}</span><span> </span></div>
            <div>
                <a class="btn btn-link" style="text-decoration: none" href="{% url 'login:settings' username 'profile' %}" class="link-dark"><h4>Profile</h4></a><br>
            </div>
            <div>
                <a class="btn btn-link" style="text-decoration: none" href="{% url 'login:settings' username 'privacy' %}" class="link-dark"><h4>Privacy</h4></a><br>
            </div>
            <div>
                <a class="btn btn-link" style="text-decoration: none" href="{% url 'login:settings' username 'password' %}" class="link-dark"><h4>Password</h4></a>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group p-2">
                        <label for="first_name">First Name: </label>
                        <input type="text" name="first_name" id="first_name" class="form-control" {% if userdata.firstname %} value={{userdata.firstname}} {% endif %}>
                    </div>
                    <div class="form-group p-2">
                        <label for="last_name">Last Name: </label>
                        <input type="text" name="last_name" id="last_name" class="form-control" {% if userdata.lastname %} value={{userdata.lastname}} {% endif %}>
                    </div>
                    <div class="form-group p-2">
                        <label for="dob">Date Of Birth: </label>
                        <input type="date" name="dob" id="dob" class="form-control" {% if userdata.dob %} value={{ userdata.dob|stringformat:"s" }} {% endif %}>
                        <script>
                            var todayDate = new Date();
                            var month = todayDate.getMonth()+1; //04 - current month
                            var year = todayDate.getUTCFullYear(); //2021 - current year
                            var tdate = todayDate.getDate(); // 27 - current date 
                            if(month < 10){
                              month = "0" + month //'0' + 4 = 04
                            }
                            if(tdate < 10){
                              tdate = "0" + tdate;
                            }
                            var maxDate = year + "-" + month + "-" + tdate;
                            document.getElementById("dob").setAttribute("max", maxDate);
                            console.log(maxDate);
                          </script>
                    </div>
                    <div class="form-group p-2">
                        <label for="phone">Phone Number: </label>
                        <input type="tel" name="phone"  id="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" class="form-control" {% if userdata.phone %} value={{userdata.phone}} {% endif %}>
                        <small>Format: 123-456-7890</small>
                    </div>
                    <div class="form-group p-2">
                        <label for="home">Home County: </label>
                        <select class="form-select" name="home" id="home">
                            <option selected>{% if userdata.home_adress %} {{userdata.home_adress}} {% endif %}</option>
                            {% for county in counties %}
                                <option value="{{county}}">{{county}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group p-2">
                        <label for="work">Work County: </label>
                        <select class="form-select" name="work" id="work">
                            <option selected>{% if userdata.work_address %} {{userdata.work_address}} {% endif %}</option>
                            {% for county in counties %}
                                <option value="{{county}}">{{county}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group p-2">
                        <label for="vaccination_status">Vaccination Status: </label><br>
                        
                        <h5>
                            <input class="form-check-input" type="checkbox" name="vaccination_status_yes" id="vaccination_status_yes" value="vaccination_status_yes" {% if userdata.is_vacinated %} disabled {% endif %}>
                            <label class="form-check-label" for="vaccination_status_yes">Yes</label>
                            <br>
                        </h5>
                        <h5>
                            <input class="form-check-input" type="checkbox" name="vaccination_status_no" id="vaccination_status_no" value="vaccination_status_no" {% if not userdata.is_vacinated %} disabled {% endif %}>
                            <label class="form-check-label" for="vaccination_status_no">No</label>
                        </h5>
                    </div>
                    <div class="form-group p-2">
                        <label for="user_image" class="form-label">Change Profile Picture</label><br>
                        <input type="file" class="form-control-file" id="user_image" name="user_image">
                    </div>
                    <div class="col-md-12 text-center p-2">
                        <button type="submit" name="submit_change" class=" btn btn-block mybtn btn-outline-primary tx-tfm">Change Profile</button>
                    </div>
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == 'error' %}
                            <div class="alert alert-danger my-2" role="alert">
                                {{message}}
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}   
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}