{% extends 'main.html' %}

{% load static %}

{% block stylesheetone %}
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.css">
    <link rel="stylesheet" href="{% static 'css/selftrack/style.css' %}">
{% endblock stylesheetone %}

{% block stylesheettwo %}
    <link rel="stylesheet" href="{% static 'css/circle/style_edit_permission.css' %}" />
{% endblock stylesheettwo %}

{% block content %}
<div class="container rounded bg-white p-5 mt-5 mb-5">
    <div class="row">
        <div class="col-md-5 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="130px" height="130px" src="{{ userdata.user_image.url }}">
                <span class="font-weight-bold">{{userdata.username}}</span>
                <span class="text-black-50">{{userdata.email}}</span>
            </div>
            <div class="d-flex flex-column align-items-center text-center p-3">
                <div class="col-lg-6 p-0 m-0">
                    <a class="btn btn-link p-0 m-0" style="text-decoration: none" href="{% url 'login:settings' username 'profile' %}" class="link-dark">
                        <h2 class="{% if page == 'profile' %} text-danger {% endif %}">Profile</h2>
                    </a>
                    <br>
                </div>

                <div class="col-lg-6 p-0 m-0">
                    <a class="btn btn-link p-0 m-0" style="text-decoration: none" href="{% url 'login:settings' username 'privacy' %}" class="link-dark">
                        <h2 class="{% if page == 'privacy' %} text-danger {% endif %}">Privacy</h2>
                    </a>
                    <br>
                </div>

                <div class="col-lg-6 p-0 m-0">
                    <a class="btn btn-link p-0 m-0" style="text-decoration: none" href="{% url 'login:settings' username 'password' %}" class="link-dark">
                        <h2 class="{% if page == 'password' %} text-danger {% endif %}">Password</h2>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="p-5 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Change Privacy</h4>
                </div>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row mt-2">
                        <div class="col-md-12">
                            <label for="vaccination_status">Show Vaccination Status: </label><br>
                            
                            <h5 class="ms-3">
                                <input class="form-check-input" type="checkbox" name="vaccination_status_yes" id="vaccination_status_no" value="vaccination_status_yes" {% if privacy.show_vacination %} disabled {% endif %} >
                                <label class="form-check-label ps-1" for="vaccination_status_yes">Yes</label>
                                <br>
                            </h5>
                            <h5 class="ms-3">
                                <input class="form-check-input" type="checkbox" name="vaccination_status_no" id="vaccination_status_no" value="vaccination_status_no" {% if not privacy.show_vacination %} disabled {% endif %}>
                                <label class="form-check-label ps-1" for="vaccination_status_no">No</label>
                            </h5>
                        </div>
                        
                        <div class="col-md-12 mt-3">
                            <label for="people_met">Show People Met: </label><br>
                            
                            <h5 class="ms-3">
                                <input class="form-check-input" type="checkbox" name="people_met_yes" id="people_met_yes" value="people_met_yes" {% if privacy.show_people_met %} disabled {% endif %}>
                                <label class="form-check-label ps-1" for="people_met_yes">Yes</label>
                                <br>
                            </h5>
                            <h5 class="ms-3">
                                <input class="form-check-input" type="checkbox" name="people_met_no" id="people_met_no" value="people_met_no" {% if not privacy.show_people_met %} disabled {% endif %}>
                                <label class="form-check-label ps-1" for="people_met_no">No</label>
                            </h5>
                        </div>
                        
                        <div class="col-md-12 mt-3">
                            <label for="locaiton_visited">Show Location Visited: </label><br>
                            
                            <h5 class="ms-3">
                                <input class="form-check-input" type="checkbox" name="locaiton_visited_yes" id="locaiton_visited_yes" value="locaiton_visited_yes" {% if privacy.show_location_visited %} disabled {% endif %}>
                                <label class="form-check-label ps-1" for="locaiton_visited_yes">Yes</label>
                                <br>
                            </h5>
                            <h5 class="ms-3">
                                <input class="form-check-input" type="checkbox" name="locaiton_visited_no" id="locaiton_visited_no" value="locaiton_visited_no" {% if not privacy.show_location_visited %} disabled {% endif %}>
                                <label class="form-check-label ps-1" for="locaiton_visited_no">No</label>
                            </h5>
                        </div>

                        <div class="col-md-6 text-center mt-3">
                            <button type="submit" name="submit_change" class=" btn btn-block mybtn btn-outline-danger">Save Profile</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}