.form-control:focus {
    box-shadow: none;
    border-color: #df4759
}

.profile-button {
    background:#fff;
    color: #df4759;
    box-shadow: none;
    border: 1px solid #df4759;
}

.profile-button:hover {
    background: #df4759;
    color: #fff;

}

.profile-button:focus {
    background: #df4759;
    box-shadow: none
}

.profile-button:active {
    background: #df4759;
    box-shadow: none
}

.back:hover {
    color: #df4759;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #df4759;
    color: #fff;
    cursor: pointer;
    border: solid 1px #df4759
}