{% load static %}
{% load get_value %}

<div class="container mt-5 mb-3" id="replaceable-content">
    {% if circles %}
        <div class="row">
            {% for data in circles %}
                <div class="col-md-4">
                    <div class="card p-3 mb-2">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <div class="icon"> 
                                    <img src="{{ data.circle_id.group_image.url }}" alt=""> 
                                    </img>
                                </div>
                                <div class="ms-2 c-details">
                                    <h2 class="mb-0">{{data.circle_id.circle_name}}</h2>
                                    <span>{{ data.circle_id.admin_username.username }}</span>
                                </div>
                            </div>
                            <div class="badge"> 
                                <span>
                                    <div class="dropdown">
                                        <button class="btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            <img src="{%static 'img/circle/circle_options.jpeg'%}"></img>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            {% if data.is_admin %}
                                                <li><a class="dropdown-item" href="{% url 'circle:deletecircle' username data.circle_id.circle_id %}">Delete Circle</a></li>
                                                <li><hr class="dropdown-divider"></li>
                                                <li><a class="dropdown-item" href="{% url 'circle:editpermission' username data.circle_id.circle_id %}">Edit Circle</a></li>
                                            {% else %}
                                                <li><a class="dropdown-item" href="{% url 'circle:exitcircle' username data.circle_id.circle_id %}">Exit Circle</a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </span> 
                            </div>
                        </div>
                        <div class="mt-5">
                            <div class="mt-5">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width:{{ 15|percent:data.circle_id.no_of_users }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="mt-3"> <span class="text1">{{data.circle_id.no_of_users}} Users <span class="text2">of 15 capacity</span></span> </div>
                            </div>
                            <div class="mt-5 text-center">
                                <a href="{% url 'circle:user_circle' username data.circle_id.circle_id %}">
                                    <button type="button" class="btn btn-outline-danger">Enter Circle</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="row">
            {% for data in circle_user_data %}
                <div class="col-md-4">
                    <div class="card p-3 mb-2">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <div class="icon"> 
                                    <img src="{{ data.circle_id.group_image.url }}" alt=""> 
                                    </img>
                                </div>
                                <div class="ms-2 c-details">
                                    <h2 class="mb-0">{{data.circle_id.circle_name}}</h2>
                                    <span>{{ data.circle_id.admin_username.username }}</span>
                                </div>
                            </div>
                            <div class="badge"> 
                                <span>
                                    <div class="dropdown">
                                        <button class="btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            <img src="{%static 'img/circle/circle_options.jpeg'%}"></img>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            {% if data.is_admin %}
                                                <li><a class="dropdown-item" href="{% url 'circle:deletecircle' username data.circle_id.circle_id %}">Delete Circle</a></li>
                                                <li><hr class="dropdown-divider"></li>
                                                <li><a class="dropdown-item" href="{% url 'circle:editpermission' username data.circle_id.circle_id %}">Edit Circle</a></li>
                                            {% else %}
                                                <li><a class="dropdown-item" href="{% url 'circle:exitcircle' username data.circle_id.circle_id %}">Exit Circle</a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </span> 
                            </div>
                        </div>
                        <div class="mt-5">
                            <div class="mt-5">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width:{{ 15|percent:data.circle_id.no_of_users }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="mt-3"> <span class="text1">{{data.circle_id.no_of_users}} Users <span class="text2">of 15 capacity</span></span> </div>
                            </div>
                            <div class="mt-5 text-center">
                                <a href="{% url 'circle:user_circle' username data.circle_id.circle_id %}">
                                    <button type="button" class="btn btn-outline-danger">Enter Circle</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
