<!DOCTYPE html>

{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="{% static 'assets/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    
    {% block style %}

    {% endblock style %}
    <title>{{ page_name }}</title>
    <link rel="icon" type="image/png" href="{% static 'img/coviguard/favicon.png' %}">

</head>

<body class='bg-secondary'>
    {% block content %}

    {% endblock content %}

    {% block script %}

    {% endblock script %}
    

    <script src="{% static 'assets/dist/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>