<!DOCTYPE html>

{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> {% endcomment %}
    {% if selftrack %}
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.css">
        <link rel="stylesheet" href="{% static 'css/selftrack/style.css' %}">
    {% endif %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link href="{% static 'assets/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    {% if monitor %}
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/series-label.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="https://code.highcharts.com/modules/accessibility.js"></script>
        <script src="https://code.highcharts.com/modules/drilldown.js"></script>
        <script src="https://code.highcharts.com/highcharts-3d.js"></script>
        <link rel="stylesheet" href="{% static 'css/monitor/style.css' %}" />
    {% endif %}
    {% block stylesheettwo %}

    {% endblock stylesheettwo %}
    <title>{{ page_name }}</title>
</head>

<body class="bg-primary">
    {% include 'navbar.html' %}

    {% block content %}

    {% endblock content %}

    {% include 'footer.html' %}
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="{% static 'assets/dist/js/bootstrap.bundle.min.js' %}"></script>

    {% block script %}

    {% endblock script %}

    {% if monitor %}
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="https://code.highcharts.com/modules/drilldown.js"></script>
        <script src="https://code.highcharts.com/highcharts-3d.js"></script>
        <script>
            _df_2021 = {{ df_2021 | safe }};
            _df_2021_home = {{ df_2021_home | safe }};
            _df_2021_work = {{ df_2021_work | safe }};
            _categories_2021 = {{categories_2021 | safe }};
            _locations = {{ locations | safe }}
            _df_2021_all = {{ df_2021_all | safe }} 
        </script>
        <script src="{% static 'js/monitor/script.js' %}"></script>
    {% endif %}

    {% if selftrack %}
    	<script src="{% static 'js/selftrack/jquery.min.js' %}"></script>
        {% comment %} <script src="{% static 'js/selftrack/popper.js' %}"></script> {% endcomment %}
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.js"></script>
        <script src="{% static 'js/selftrack/main.js' %}"></script>
    {% endif %}

    {% comment %} <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> {% endcomment %}

</body>

</html>