<!DOCTYPE html>

{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block stylesheetone %}
    
    {% endblock stylesheetone %}
    
    {% block stylesheettwo %}
    
    {% endblock stylesheettwo %}
    
    <link href="{% static 'assets/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/navbar/navbar.css' %}" />
    <title>{{ page_name }}</title>
    <link rel="icon" type="image/png" href="{% static 'img/coviguard/favicon.png' %}">

</head>

<body>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark gradient-custom">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'login:index' %}">
        <img src="{% static 'img/coviguard/favicon.png' %}" width="50" height="45" alt="">
        Coviguard
      </a>

      <!-- Toggle button -->
      <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></i></span>
      </button>

      <!-- Collapsible wrapper -->
      <div class="navbar-collapse collapse" id="navbarSupportedContent">
        <!-- Left links -->
        <ul class="navbar-nav me-auto d-flex flex-row mt-3 mt-lg-0">
          <li class="nav-item text-center mx-2 mx-lg-1">
            <a class="nav-link active" aria-current="page" href="{% if index %} #home {% else %} {% url 'login:index' %} {% endif %}">
              <div>
                <i class="bi bi-house-door"></i>
              </div>
              Home
            </a>
          </li>
          {% if index %}
            <li class="nav-item text-center mx-2 mx-lg-1">
              <a class="nav-link active" href="#functionalities">
                <div>
                  <i class="bi bi-cart"></i>
                </div>
                Functionalities
              </a>
            </li>
            <li class="nav-item text-center mx-2 mx-lg-1">
              <a class="nav-link active" href="#why">
                <div>
                  <i class="bi bi-question-circle-fill"></i>
                </div>
                Why CoviGuard?
              </a>
            </li>
            <li class="nav-item text-center mx-2 mx-lg-1">
              <a class="nav-link active" href="#developers">
                <div>
                  <i class="bi bi-person-workspace"></i>
                </div>
                Developers
              </a>
            </li>
          {% endif %}
        </ul>
        <!-- Left links -->

        <!-- Right links -->
        {% if session_valid %}
        <ul class="navbar-nav mx-3 d-flex flex-row mt-3 mt-lg-0">
          <li class="nav-item text-center mx-2 mx-lg-1 ">
              <a class="nav-link active" href="{% url 'circle:dashboard' username 'map' %}">
                <div>
                  <i class="bi bi-box2"></i>
                </div>
                Dashboard
              </a>
            </li>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{ userdata.user_image.url }}" class="rounded-circle" style="width:50px; height:50px" alt="">
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="min-width: 100px;">
            <li><a class="dropdown-item" href="{% url 'login:settings' username 'profile' %}">Settings</a></li>
            <li><a class="dropdown-item" href="{% url 'login:logout' %}">Logout</a></li>
          </ul>
        </li>
        </ul>

        {% else %}
          {% if not index %}
            <ul class="navbar-nav mx-3 d-flex flex-row mt-3 mt-lg-0">
              <li class="nav-item text-center mx-2 mx-lg-1 ">
                <a class="nav-link active" href="{% url 'login:signin' %}">
                  <div>
                    <i class="bi bi-box-arrow-in-left"></i>
                  </div>
                  Sign In
                </a>
              </li>
            </ul>
          {% endif %}
          <ul class="navbar-nav mx-3 d-flex flex-row mt-3 mt-lg-0">
            <li class="nav-item text-center mx-2 mx-lg-1 ">
              <a class="nav-link active" href="{% url 'login:signup' %}">
                <div>
                  <i class="bi bi-person-plus"></i>
                </div>
                Sign Up
              </a>
            </li>
          </ul>
        {% endif %}

      </div>
    </div>
  </nav>
    {% block content %}

    {% endblock content %}

    {% include 'footer-index.html' %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="{% static 'assets/dist/js/bootstrap.bundle.min.js' %}"></script>


</body>

</html>