<!-- Navbar -->
{% load static %}
    <nav class="navbar navbar-expand-lg bg-light navbar-light py-3">
        <div class="container-sm">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img src="{%static 'img/5.png'%}" width="50" height="50" alt="">
                CoviGuard
            </a>
            <a href="#" class="navbar-brand"></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Self-Track</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Monitor</a>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-light position-relative">
                            <p class="text-danger">Alerts</p>


                            <span
                                class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                                <span class="visually-hidden">New alerts</span>
                            </span>
                        </button>
                        <!-- <a href="#" class="nav-link">
                            <p class="text-success">Alerts</p>
                        </a> -->
                    </li>
                </ul>
                <div class="dropdown">
                    <button class="btn btn-outline-primary dropdown-toggle position-relative mx-3" type="button"
                        id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Notifications
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            5
                            <span class="visually-hidden">unread messages</span>
                        </span>
                    </button>
                    <ul class="dropdown-menu p-0" aria-labelledby="dropdownMenuButton1">
                        <li>
                            <div class="alert alert-primary m-0" role="alert">
                                Dhruv requested to join Family
                            </div>
                        </li>
                        <li>
                            <div class="alert alert-primary m-0" role="alert">
                                Dhruv2 requested to join Family
                            </div>
                        <li>
                            <div class="alert alert-primary m-0" role="alert">
                                Dhruv3 requested to join Family
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>