<!-- Navbar -->
{% load static %}

{% block navbar-style %}
    <link rel="stylesheet" href="{% static 'css/navbar/navbar.css' %}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
{% endblock navbar-style %}

<nav class="navbar navbar-expand-lg navbar-dark gradient-custom">
<div class="container-fluid">
    <a class="navbar-brand" href="{% url 'login:index' %}">
    <img src="{% static 'img/coviguard/favicon.png' %}" width="50" height="45" alt="">
    Coviguard
    </a>

    <!-- Toggle button -->
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></i></span>
    </button>

    <!-- Collapsible wrapper -->
    <div class="navbar-collapse collapse" id="navbarSupportedContent">
    <!-- Left links -->
    <ul class="navbar-nav me-auto d-flex flex-row mt-3 mt-lg-0">
        <li class="nav-item text-center mx-2 mx-lg-1">
        <a class="nav-link active" aria-current="page" href="{% url 'login:index' %}">
            <div>
            <i class="bi bi-house-door"></i>
            </div>
            Home
        </a>
        </li>

        <li class="nav-item text-center mx-2 mx-lg-1">
        <a class="nav-link active" href="{% url 'circle:dashboard' username 'map' %}">
            <div>
            <i class="bi bi-box2"></i>
            </div>
            Dashboard
        </a>
        </li>

        <li class="nav-item text-center mx-2 mx-lg-1">
        <a class="nav-link active" href="{% url 'selftracking:selftrack' username %}">
            <div>
                {% if streak_yesterday or streak_today %}
                    <span class="badge rounded-pill badge-notification"><mark class="fw-bold p-0 bg-transparent text-light">{{current_streak}} </mark><i class="fa-solid fa-fire fa-1x"></i></span>
                {% else %}
                    <i class="bi bi-person-bounding-box"></i>
                {% endif %}
            </div>
            Self-Track
            {% if not streak_today %}
                <span class="badge rounded-pill badge-notification bg-light text-dark"><i class="bi bi-bell"></i></span>
            {% endif %}
        </a>
        </li>

        <li class="nav-item text-center mx-2 mx-lg-1">
        <a class="nav-link active" href="{% url 'monitor:user_monitor' %}">
            <div>
            <i class="bi bi-bar-chart"></i>
            </div>
            Monitor
        </a>
        </li>

        <li class="nav-item text-center mx-2 mx-lg-1">
        <a class="nav-link active" href="{% url 'alert:alert_user' username %}">
            <div>
                <i class="bi bi-exclamation-triangle"></i>
            </div>
            Alert
            {% if alert %}
                <span class="badge rounded-pill badge-notification bg-light text-dark"><i class="bi bi-bell"></i></span>
            {% endif %}
        </a>
        </li>
    </ul>
    <!-- Left links -->

    <!-- Right links -->
    
    <ul class="navbar-nav mx-3 d-flex flex-row mt-3 mt-lg-0">
        <li class="nav-item text-center mx-2 mx-lg-1">
            <a class="nav-link active" href="{% url 'circle:create' %}">
                <div>
                    <i class="bi bi-plus-circle-fill"></i>
                </div>
                Create
            </a>
        </li>
        <li class="nav-item text-center mx-2 mx-lg-1">
            <a class="nav-link active" href="{% url 'circle:notify' username %}">
                <div>
                    <i class="bi bi-bell"></i>
                </div>
                <span class="badge rounded-pill badge-notification bg-light text-dark">{{ total_notify }}</span>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{{ userdata.user_image.url }}" class="rounded-circle" style="width:50px; height:50px;" alt="">
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="min-width: 100px;">
                <li><a class="dropdown-item" href="{% url 'login:settings' username 'profile' %}">Settings</a></li>
                <li><a class="dropdown-item" href="{% url 'login:logout' %}">Logout</a></li>
            </ul>
        </li>
    </ul>

    </div>
</div>
</nav>
{% block script %}
<script src="https://kit.fontawesome.com/4ea6e3ab0b.js" crossorigin="anonymous"></script>
{% endblock script %}