{% load static %}
<table class="table table-hover">

    <thead>
        <tr>
            <th class="table-light text-center" scope="col">Username</th>
            {% for policy in policies %}
                <th class="table-light text-center" scope="col">{{ policy.policy_name }}</th>
            {% endfor %}
            {% if is_admin %}
                <th class="table-light text-center" scope="col"></th>
            {% endif %}
        </tr>
    </thead>

    <tbody>
        {% for data in circle_user_data %}
            <tr>
                <td class="table-danger text-center">{{data.username.username}} {% if data.is_admin %} (Admin) {% endif %}</td>
                    {% for key, value in circle_compliance.items %}
                        {% if key == data.username.username %}
                            {% for key1, value1 in value.items %}
                                    <td class="table-danger text-center">{{value1}}</td>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% if is_admin %}
                    {% if data.is_member %}
                    <td class="table-danger text-center">
                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#{{ data.username.username }}">
                            <i class="bi bi-x-lg"></i>
                        </button>
                    </td>
                    <!-- Modal -->
                    <div class="modal fade" id="{{ data.username.username }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    Are you sure you want to remove {{data.username.username}}?
                                </div>
                                <div class="modal-footer">
                                    <form action="" method="post">
                                        {% csrf_token %}
                                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                                        <button class="btn btn-outline-danger" type="submit" name="remove_user" value="{{data.username.username}}">
                                            Yes
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                        <td class="table-danger text-center"></td>
                    {% endif %}
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>